# Virtual environment
venv/
env/

# Python-related
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment variables
.env
*.env

*.log

# Django-related
/media/
*.pid
*.swp

# Static and compiled assets
staticfiles/
static/

# IDE files
.vscode/
.idea/
*.iml

# Git specific
*.bak
*.orig

# Ignore node_modules if using frontend tools
node_modules/
